.timeline{
    background-color: var(--gray);
    padding-bottom: 40px;
}

.timeline>h2{
    color: white;
    text-align: center;
    padding: 50px;
    font-family: 'NexaRustScriptLW00-02';
    font-size: 2.5rem;
}

.timeline>.timeline-list{
    width: 40% ;
    margin: 0 auto;
}