.tick-list-card{
    width: 22%;
    text-align: center;
}

.tick-list-card .tick{
    width: 80px;
}

.tick-list-card .title{
    font-family: 'NexaRustSans-Black';
    color: var(--gray);
    margin-bottom: 20px;
    font-size: 1rem;
}

.tick-list-card .explanation{
    line-height: 1.5rem;
}

@media(max-width: 1000px){
    .tick-list-card{
        width: 40%;
    }
}


@media(max-width: 650px){
    .tick-list-card{
        width: 80%;
    }
}