.index-footer{
    background-color: var(--gray);
    color: white;
    padding-bottom: 45px;
    padding-top: 50px;
}

.index-footer>.footer-logos{
    width: 40%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between ;
    padding-bottom: 20px;
}

.index-footer>.footer-logos>img{
    width: auto;
    height: fit-content;
}

.index-footer>.text-container{
    text-align: center;
}

.index-footer>.text-container>p{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.index-footer>.text-container>p>a{
    color: inherit;
}

.index-footer>.text-container>p>a:hover{
    color: var(--orange);
}


@media(max-width: 700px){
    .index-footer>.footer-logos{
        width: 80%;
    }

    .index-footer>.text-container>p{
        font-size: .9rem;
    }
}


@media(max-width: 360px){
    .index-footer>.footer-logos{
        width: 90%;
    }
}