@font-face{
  font-family: 'NexaRustSans-Black';
  src: url('./fonts/NexaRustSans-Black.woff2')
}

@font-face{
  font-family: 'NexaRustScriptLW00-02';
  src: url('./fonts/NexaRustScriptLW00-02.woff2')
}

@font-face{
  font-family: 'NexaRustSansW00-Book01';
  src: url('./fonts/NexaRustSansW00-Book01.woff2');
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --orange: #F4BC08;
  --gray: #4a4a4a;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden{
  display: none;
}

/* BTN */
.btn{
    background-color: #007bff ;
    color: white;
    font-family: 'NexaRustSans-Black';
    font-weight: bolder;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;

    display: block;
    width: fit-content;
    margin: 0 auto;
}