@import url(//db.onlinewebfonts.com/c/f2ea7c7c84d1687335e8c48b8b1a92e3?family=Nexa+Rust+Sans+Black);
@import url(//db.onlinewebfonts.com/c/bf6644c8ba0fd78c18466f540450914c?family=NexaRustScriptLW00-02);
@import url(//db.onlinewebfonts.com/c/600e316c290c6d03b9daddb570f5e780?family=NexaRustSansW00-Book01);

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden{
  display: none;
}